<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assign target = https://kursad.dev %}
    {% assign targetname = kursad.dev %}
    {% assign targettitle = Taking you to kursad.dev %}



    <meta http-equiv="refresh" content="{{ time }};url={{ target }}"/>
    <link rel="canonical" href="{{ target }}"/>
    <title>kursad.dev</title>
    <style>
        body {
            font-family: sans-serif;
            max-width: 40em;
            margin: 1em auto;
        }
    </style>
</head>
<body>
    <h1>https://kursad.dev</h1>
    <p>This document has moved!</p>
    <p>Redirecting to <a href="https://kursad.dev">https://kursad.dev</a>.</p>
</body>
</html>
<!-- 
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        HEllo default.hyml
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
 -->
